-- Aetheon Energy Intelligence Platform - Migration 13: Atomic Acknowledgement & Audit RPCs
-- 1. Atomic DSM Incident Acknowledgement + Audit
-- 2. Atomic Alert Acknowledgement + Audit
-- ============================================================================

-- 1. Atomic DSM Incident Acknowledgement + Audit RPC
CREATE OR REPLACE FUNCTION public.acknowledge_dsm_incident_atomic(
    p_incident_id UUID,
    p_site_id UUID,
    p_user_id UUID,
    p_user_role VARCHAR(50),
    p_org_id UUID
)
RETURNS JSONB AS \$\$
DECLARE
    v_incident RECORD;
BEGIN
    -- Security Check: Only service_role or postgres
    IF current_setting('role', true) != 'service_role' AND CURRENT_USER != 'postgres' THEN
        RAISE EXCEPTION 'PERMISSION DENIED: Incident acknowledgement requires service-role.';
    END IF;

    -- Fetch incident to verify it exists and get details
    SELECT * INTO v_incident
    FROM public.dsm_incidents
    WHERE id = p_incident_id AND site_id = p_site_id;

    IF NOT FOUND THEN
        RAISE EXCEPTION 'INCIDENT_NOT_FOUND: DSM incident % not found for site %', p_incident_id, p_site_id;
    END IF;

    IF v_incident.acknowledged THEN
        RETURN jsonb_build_object('success', true, 'message', 'Incident already acknowledged', 'incident', to_jsonb(v_incident));
    END IF;

    -- Atomic update + audit in single transaction
    UPDATE public.dsm_incidents
    SET acknowledged = true, acknowledged_by = p_user_id, acknowledged_at = now()
    WHERE id = p_incident_id;

    INSERT INTO public.audit_logs (
        organisation_id, site_id, actor_id, actor_role, action, entity_type, entity_id, details
    ) VALUES (
        p_org_id, p_site_id, p_user_id, p_user_role, 'DSM_INCIDENT_ACKNOWLEDGED', 'DSM_INCIDENT', p_incident_id::text,
        jsonb_build_object(
            'severity', v_incident.severity,
            'start_block', v_incident.start_block,
            'end_block', v_incident.end_block,
            'max_deviation_pct', v_incident.max_deviation_pct,
            'total_excess_energy_kwh', v_incident.total_excess_energy_kwh,
            'estimated_exposure_inr', v_incident.estimated_exposure_inr
        )
    );

    RETURN jsonb_build_object('success', true, 'message', 'DSM incident acknowledged and audited');
END;
\$\$ LANGUAGE plpgsql SECURITY DEFINER SET search_path = public;

REVOKE EXECUTE ON FUNCTION public.acknowledge_dsm_incident_atomic(UUID, UUID, UUID, VARCHAR, UUID) FROM PUBLIC, anon, authenticated;
GRANT EXECUTE ON FUNCTION public.acknowledge_dsm_incident_atomic(UUID, UUID, UUID, VARCHAR, UUID) TO service_role;

-- 2. Atomic Alert Acknowledgement + Audit RPC
CREATE OR REPLACE FUNCTION public.acknowledge_alert_atomic(
    p_alert_id UUID,
    p_user_id UUID,
    p_user_role VARCHAR(50),
    p_org_id UUID
)
RETURNS JSONB AS \$\$
DECLARE
    v_alert RECORD;
BEGIN
    -- Security Check: Only service_role or postgres
    IF current_setting('role', true) != 'service_role' AND CURRENT_USER != 'postgres' THEN
        RAISE EXCEPTION 'PERMISSION DENIED: Alert acknowledgement requires service-role.';
    END IF;

    -- Fetch alert to verify it exists and get details
    SELECT * INTO v_alert
    FROM public.alerts
    WHERE id = p_alert_id;

    IF NOT FOUND THEN
        RAISE EXCEPTION 'ALERT_NOT_FOUND: Alert % not found', p_alert_id;
    END IF;

    IF v_alert.status = 'ACKNOWLEDGED' THEN
        RETURN jsonb_build_object('success', true, 'message', 'Alert already acknowledged', 'alert', to_jsonb(v_alert));
    END IF;

    -- Atomic update + audit in single transaction
    UPDATE public.alerts
    SET status = 'ACKNOWLEDGED', acknowledged_by = p_user_id, acknowledged_at = now()
    WHERE id = p_alert_id;

    INSERT INTO public.audit_logs (
        organisation_id, site_id, actor_id, actor_role, action, entity_type, entity_id, details
    ) VALUES (
        p_org_id, v_alert.site_id, p_user_id, p_user_role, 'ALERT_ACKNOWLEDGED', 'ALERT', p_alert_id::text,
        jsonb_build_object(
            'alert_title', v_alert.title,
            'severity', v_alert.severity,
            'module', v_alert.module
        )
    );

    RETURN jsonb_build_object('success', true, 'message', 'Alert acknowledged and audited');
END;
\$\$ LANGUAGE plpgsql SECURITY DEFINER SET search_path = public;

REVOKE EXECUTE ON FUNCTION public.acknowledge_alert_atomic(UUID, UUID, VARCHAR, UUID) FROM PUBLIC, anon, authenticated;
GRANT EXECUTE ON FUNCTION public.acknowledge_alert_atomic(UUID, UUID, VARCHAR, UUID) TO service_role;

